[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "~=19.0"

[dev-packages]
pre-commit = "~=1.0"
pytest = "~=4.0"
xmldiff = "~=2.0"

[requires]
python_version = "3.6"
